
<!--header div : Schedule-->
<div class="header">
  Available Courses
</div>

<%= form_tag( :action => 'login') do %>

    <tr>
      <label style="color: ghostwhite;">NETNAME:</label>
      <%= text_field_tag(:username)  %> </br></br>
    </tr>
    <tr>
      <label style="color: ghostwhite">PASSWORD:</label>
      <%= password_field_tag(:password) %> </br> </br>
    </tr>
    <%= submit_tag('Login') %>

<% end %>
<!--main content div : result of schedule-->
<div class="greybody">
  <table class="schedulet">
    <tr class="schedulet">
      <th>Course Code</th>
      <th>Course Name</th>
      <th></th>
      <th></th>
    </tr>
   <%  @courses.each do |course| %>
        <tr class="schedulet">
          <td><%= course.course_type %></td>
          <td><%= course.course_nb %></td>
          <td><%= course.course_name %></td>
          <td><%= link_to('Add',{:controller => 'User', :action => 'add_course', :id => course.id}) %></td>
          <td><%= link_to('Details',{:controller => 'Course', :action => 'show' , :id => course.id}) %></td>
        </tr>
    <%end%>
  </table>
</div>
