<!--title of the page & subtitle div-->
<div class="titleCont">
  <br/><br/>
  <span class="whiteFONT titleFONT">
    Course Description</span><br/>
  <span class="whiteFONT subtitleFONT"></span>
</div>
</div>
<!--main content div : result of schedule-->
<div class="greybody">
  <table class="table">
    <tr class="">
      <th>Course Code</th>
      <th>Course Name</th>
      <th>Course Credit</th>
    </tr>
    <tr>
      <td><%= "#{@course.dept} #{@course.number}" %></td>
      <td><%= @course.name %></td>
      <td><%= @course.credit %></td>
    </tr>
    <tr>
      <td colspan="3"><%= @course.description%></td>
    </tr>
  </table>
  <%= link_to('Return', {:controller => 'Course', :action => 'index', :id => @course.id}) %>
</div>