
<!--title of the page & subtitle div-->
<div class="titleCont">
  <br/><br/>
  <span class="whiteFONT titleFONT">My Specialization's Sequence</span><br/>
  <span class="whiteFONT subtitleFONT"> Select courses that have been completed:</span>
</div>
</div>

<!--main outer container div-->
<div class="whiteBCKG extend">
  <!-- inside container div-->
  <div class="mainContent">

    <div class="greybody">
      <h3> Obligatory Software Engineering Core Courses</h3>
      <%= form_tag(update_sequence_path) do %>


          <table class="table">
            <tr></tr>
            <thead>
            <tr>
              <th>Completed?</th>
              <th>Course Dept</th>
              <th>Number</th>
              <th>Credits</th>
              <th>Course Name</th>
            </tr>
            </thead>
            <tbody>
            <% @sequence[:core].courses.sort.each do |course| %>
                <tr>
                  <td><%= check_box_tag(course.id.to_s) %></td>
                  <td><%= course.dept %></td>
                  <td><%= course.number %></td>
                  <td><%= course.credit %></td>
                  <td><%= course.name %></td>
                </tr>

            <% end %>

            </tbody>
          </table>

          <% if @sequence[:general].nil? %>
              <h3> Required <%= @option %> courses</h3>
              <table class="table">
                <tr></tr>
                <thead>
                <tr>
                  <th>Completed?</th>
                  <th>Course Dept</th>
                  <th>Number</th>
                  <th>Credits</th>
                  <th>Course Name</th>
                </tr>
                </thead>
                <tbody>
                <% @sequence[:required].courses.each do |course| %>
                    <tr>
                      <td><%= check_box_tag(course.id.to_s) %></td>
                      <td><%= course.dept %></td>
                      <td><%= course.number %></td>
                      <td><%= course.credit %></td>
                      <td><%= course.name %></td>
                    </tr>

                <% end %>

                </tbody>

              </table>
              <h3> Must take at least one of the following <%= @option %> courses</h3>
              <table class="table">
                <tr></tr>
                <thead>
                <tr>
                  <th>Completed?</th>
                  <th>Course Dept</th>
                  <th>Number</th>
                  <th>Credits</th>
                  <th>Course Name</th>
                </tr>
                </thead>
                <tbody>
                <% @sequence[:one_of].courses.each do |course| %>
                    <tr>
                      <td><%= check_box_tag(course.id.to_s) %></td>
                      <td><%= course.dept %></td>
                      <td><%= course.number %></td>
                      <td><%= course.credit %></td>
                      <td><%= course.name %></td>
                    </tr>

                <% end %>

                </tbody>

              </table>
              <h3> Electives Available</h3>
              <table class="table">
                <tr></tr>
                <thead>
                <tr>
                  <th>Completed?</th>
                  <th>Course Dept</th>
                  <th>Number</th>
                  <th>Credits</th>
                  <th>Course Name</th>
                </tr>
                </thead>
                <tbody>
                <% @sequence[:electives].courses.each do |course| %>
                    <tr>
                      <td><%= check_box_tag(course.id.to_s) %></td>
                      <td><%= course.dept %></td>
                      <td><%= course.number %></td>
                      <td><%= course.credit %></td>
                      <td><%= course.name %></td>
                    </tr>

                <% end %>

                </tbody>

              </table>
          <% else %>
              <h3> Must take rest of courses from the following:</h3>
              <table class="table">
                <tr></tr>
                <thead>
                <tr>
                  <th>Completed?</th>
                  <th>Course Dept</th>
                  <th>Number</th>
                  <th>Credits</th>
                  <th>Course Name</th>
                </tr>
                </thead>
                <tbody>
                <% @sequence[:general].courses.each do |course| %>
                    <tr>
                      <td><%= check_box_tag(course.id.to_s) %></td>
                      <td><%= course.dept %></td>
                      <td><%= course.number %></td>
                      <td><%= course.credit %></td>
                      <td><%= course.name %></td>
                    </tr>

                <% end %>

                </tbody>

              </table>
          <% end %>
          <%= submit_tag('Save Completed Courses', class: "btn btn-default btn-lg") %>
      <% end %>
    </div>

  </div>
</div>