<h1>My Sequence</h1>
<h2> Obligatory Software Engineering Core Courses</h2>
<table>
  <tr></tr>
  <thead>
  <tr>
    <th>Course Dept</th>
    <th>Number</th>
    <th>Credits</th>
    <th>Course Name</th>
  </tr>
  </thead>
  <tbody>
  <% @sequence[:core].courses.each do |course| %>
      <tr>
        <td><%= course.dept %></td>
        <td><%= course.number %></td>
        <td><%= course.credit %></td>
        <td><%= course.name %></td>
      </tr>

  <% end %>

  </tbody>
</table>

<% if @sequence[:general].nil? %>
<h2> Required <%= @option %> courses</h2>
<table>
  <tr></tr>
  <thead>
  <tr>
    <th>Course Dept</th>
    <th>Number</th>
    <th>Credits</th>
    <th>Course Name</th>
  </tr>
  </thead>
  <tbody>
  <% @sequence[:required].courses.each do |course| %>
      <tr>
        <td><%= course.dept %></td>
        <td><%= course.number %></td>
        <td><%= course.credit %></td>
        <td><%= course.name %></td>
      </tr>

  <% end %>

  </tbody>

</table>
<h2> Must take one of the following <%= @option %> courses</h2>
<table>
  <tr></tr>
  <thead>
  <tr>
    <th>Course Dept</th>
    <th>Number</th>
    <th>Credits</th>
    <th>Course Name</th>
  </tr>
  </thead>
  <tbody>
  <% @sequence[:one_of].courses.each do |course| %>
      <tr>
        <td><%= course.dept %></td>
        <td><%= course.number %></td>
        <td><%= course.credit %></td>
        <td><%= course.name %></td>
      </tr>

  <% end %>

  </tbody>

</table>

<% else %>
    <h2> Must take rest of courses from the following:</h2>
    <table>
      <tr></tr>
      <thead>
      <tr>
        <th>Course Dept</th>
        <th>Number</th>
        <th>Credits</th>
        <th>Course Name</th>
      </tr>
      </thead>
      <tbody>
      <% @sequence[:general].courses.each do |course| %>
          <tr>
            <td><%= course.dept %></td>
            <td><%= course.number %></td>
            <td><%= course.credit %></td>
            <td><%= course.name %></td>
          </tr>

      <% end %>

      </tbody>

    </table>
<%end %>