
<!--title of the page & subtitle div-->
<div class="titleCont">
  <br/><br/>
  <span class="whiteFONT titleFONT"> <h2> My Updated Sequence</h2></span><br/>
  <span class="whiteFONT subtitleFONT"> <h3> Select the courses from this list that you wish to take:</h3></span>
</div>
</div>

<!--main outer container div-->
<div class="whiteBCKG extend">
  <!-- inside container div-->
  <div class="mainContent">

    <div class="greybody">
      <%= form_tag(personalized_sequence_path) do %>

          <% if @sequence[:general].nil? %>

              <h2> Must take at least one of the following <%= @option %> courses</h2>
              <table class="table">
                <tr></tr>
                <thead>
                <tr>
                  <th>Indicate Course</th>
                  <th>Course Dept</th>
                  <th>Number</th>
                  <th>Credits</th>
                  <th>Course Name</th>
                </tr>
                </thead>
                <tbody>
                <% @sequence[:one_of].courses.each do |course| %>
                    <tr>
                      <td><%= check_box_tag(course.id.to_s) %></td>
                      <td><%= course.dept %></td>
                      <td><%= course.number %></td>
                      <td><%= course.credit %></td>
                      <td><%= course.name %></td>
                    </tr>

                <% end %>

                </tbody>

              </table>
              <h2> Electives Available</h2>
              <table class="table">
                <tr></tr>
                <thead>
                <tr>
                  <th>Indicate Course</th>
                  <th>Course Dept</th>
                  <th>Number</th>
                  <th>Credits</th>
                  <th>Course Name</th>
                </tr>
                </thead>
                <tbody>
                <% @sequence[:electives].courses.each do |course| %>
                    <tr>
                      <td> <%= check_box_tag(course.id.to_s) %></td>
                      <td><%= course.dept %></td>
                      <td><%= course.number %></td>
                      <td><%= course.credit %></td>
                      <td><%= course.name %></td>
                    </tr>

                <% end %>

                </tbody>

              </table>
          <% else %>
              <h2> Select courses from the following:</h2>
              <table class="table">
                <tr></tr>
                <thead>
                <tr>
                  <th>Indicate Courses</th>
                  <th>Course Dept</th>
                  <th>Number</th>
                  <th>Credits</th>
                  <th>Course Name</th>
                </tr>
                </thead>
                <tbody>
                <% @sequence[:general].courses.each do |course| %>
                    <tr>
                      <td><%= check_box_tag(course.id.to_s) %></td>
                      <td><%= course.dept %></td>
                      <td><%= course.number %></td>
                      <td><%= course.credit %></td>
                      <td><%= course.name %></td>
                    </tr>

                <% end %>

                </tbody>

              </table>
          <% end %>
          <%= submit_tag('Save Completed Courses', {style: "background-color:black;"}) %>
      <% end %>
    </div>

  </div>
</div>