<!--title of the page & subtitle div-->
<div class="titleCont">
  <br/><br/>
      <span class="whiteFONT titleFONT"><
    Courses registered
  </span><br/>
  <span class="whiteFONT subtitleFONT"></span>
</div>
</div>

<!--main outer container div-->
<div class="whiteBCKG extend">
  <!-- inside container div-->
  <div class="mainContent">

    <div class="greybody">
      <table>
        <tr>
          <th>Dept</th>
          <th>Number</th>
          <th>Name</th>
          <th>Credits</th>
        </tr>
        <% @courses.each do |course| %>
            <tr>
              <td><%= course.dept %></td>
              <td><%= course.number %></td>
              <td><%= course.name %></td>
              <td><%= course.credit %></td>
            </tr>
        <% end %>
        <tr>
          <td></td>
          <td></td>
          <td style="color: #666666">Total credits:</td>
          <td style="color: #666666"><%= @totalCredits %></td>
        </tr>

      </table>

    </div>


  </div>
</div>