
<!--title of the page & subtitle div-->
<div class="titleCont">
  <br/><br/>
  <span class="whiteFONT titleFONT">
    Fall 2015
  </span><br/>
  <span class="whiteFONT subtitleFONT"></span>
</div>

<!--main outer container div-->
<div class="whiteBCKG extend">
  <!-- inside container div-->
  <div class="mainContent" style="margin: 0 auto" >

    <div class="greybody">
      <% @possible_schedules.first(3).each do |schedule| %>
      <table border="2px">
        <tr>
          <th>Time</th>
          <th>&nbsp;&nbsp;&nbsp;Monday&nbsp;&nbsp;&nbsp;</th>
          <th>&nbsp;&nbsp;Tuesday&nbsp;&nbsp;  </th>
          <th>Wednesday</th>
          <th>&nbsp;Thursday&nbsp;</th>
          <th>&nbsp;&nbsp;&nbsp;Friday&nbsp;&nbsp;&nbsp;</th>
        </tr>

        <% @conflicts_sections.each do |section| %>
            <%= section %>
        <% end %>
        <br/>


        <!--This is used to calculate the time that will appear on the
        the left side of the schedule-->
        <% x = Time.local(2015,'jan',15,8,0,0) %>
        <% @monday_section_duration = 0 %>
        <% @tuesday_section_duration = 0 %>
        <% @wednesday_section_duration = 0 %>
        <% @thursday_section_duration = 0 %>
        <% @friday_section_duration = 0 %>

        <% (0..64).each do |i|%>
            <% if (x.min == 0) then minutes = '00' else minutes = "#{x.min}" end %>
            <% time= "#{x.hour}:#{minutes}" %>
            <% x += 900 %>
            <tr>

              <td> <%= time %> </td>
              <!-- this will try to match the courses on the given day to the current time on the schedule,-->
              <% if schedule[0].any? && schedule[0].first.section.time_start == time  %>
                  <% @monday_section_duration = schedule[0].first.row_span %>

                  <td rowspan="<%= schedule[0].first.row_span%>" style="background-color:<%=schedule[0].first.color%>; border-bottom: none" >
                    <%= schedule[0].first.section.course.dept %> <%= schedule[0].first.section.course.number %> <br/>
                    <%= schedule[0].first.section.name %> <br/>
                    <% if schedule[0].first.section.is_a?(Section) %>
                        Sec id: <%=schedule[0].first.section.id %> <br/>

                    <% elsif schedule[0].first.section.is_a?(Tutorial) %>
                        Tut Id:<%= schedule[0].first.section.id %>  <br/>
                        Section id: <%= schedule[0].first.section.section.id %> <br/>
                    <% else %>
                        Lab Id:<%= schedule[0].first.section.id %><br/>
                        Tut Id:<%= schedule[0].first.section.tutorial.id %>  <br/>
                        Section id: <%= schedule[0].first.section.section.id %> <br/>
                    <% end %>
                    <%= schedule[0].first.section.time_start %><br/>
                    <%= schedule[0].first.section.time_end %></td>

                  <% schedule[0].shift(1)%>
              <% elsif @monday_section_duration > 1 %>
                  <% @monday_section_duration = @monday_section_duration - 1 %>
              <% else %>
                  <td> </td>

              <% end %>


              <% if schedule[1].any? &&  schedule[1].first.section.time_start == time  %>
                  <% @tuesday_section_duration = schedule[1].first.row_span %>

                  <td rowspan="<%=schedule[1].first.row_span%>" style="background-color:<%=schedule[1].first.color%>; border-bottom: none" >
                    <%= schedule[1].first.section.course.dept %> <%= schedule[1].first.section.course.number %> <br/>
                    <%= schedule[1].first.section.name %> <br/>
                    <% if schedule[1].first.section.is_a?(Section) %>
                        Sec id: <%=schedule[1].first.section.id %> <br/>

                    <% elsif schedule[1].first.section.is_a?(Tutorial) %>
                        Tut Id:<%= schedule[1].first.section.id %>  <br/>
                        Section id: <%= schedule[1].first.section.section_id %> <br/>
                    <% else %>
                        Lab Id:<%= schedule[1].first.section.id %><br/>
                        Tut Id:<%= schedule[1].first.section.tutorial.id %>  <br/>
                        Section id: <%= schedule[1].first.section.section.id %> <br/>
                    <% end %>
                    <%= schedule[1].first.section.time_start %><br/>
                    <%= schedule[1].first.section.time_end %></td>

                    <% schedule[1].shift(1) %>
              <% elsif @tuesday_section_duration > 1 %>
                  <% @tuesday_section_duration = @tuesday_section_duration - 1 %>
              <% else %>
                  <td> </td>

              <% end %>


              <% if schedule[2].any? && schedule[2].first.section.time_start == time  %>
                  <% @wednesday_section_duration = schedule[2].first.row_span %>

                  <td rowspan="<%=schedule[2].first.row_span%>" style="background-color:<%=schedule[2].first.color%>; border-bottom: none" >
                    <%= schedule[2].first.section.course.dept %> <%= schedule[2].first.section.course.number %> <br/>
                    <%= schedule[2].first.section.name %> <br/>
                    <% if schedule[2].first.section.is_a?(Section) %>
                        Sec id: <%=schedule[2].first.section.id %> <br/>

                    <% elsif schedule[2].first.section.is_a?(Tutorial) %>
                        Tut Id:<%= schedule[2].first.section.id %>  <br/>
                        Section id: <%= schedule[2].first.section.section_id %> <br/>
                    <% else %>
                        Lab Id:<%= schedule[2].first.section.id %><br/>
                        Tut Id:<%= schedule[2].first.section.tutorial.id %>  <br/>
                        Section id: <%= schedule[2].first.section.section.id %> <br/>
                    <% end %>
                    <%= schedule[2].first.section.time_start %><br/>
                    <%= schedule[2].first.section.time_end %></td>

                  <% schedule[2].shift(1) %>
              <% elsif @wednesday_section_duration > 1 %>
                  <% @wednesday_section_duration = @wednesday_section_duration - 1 %>
              <% else %>
                  <td> </td>

              <% end %>


              <% if schedule[3].any? && schedule[3].first.section.time_start == time  %>
                  <% @thursday_section_duration = schedule[3].first.row_span %>
                  <td rowspan="<%=schedule[3].first.row_span%>" style="background-color:<%=schedule[3].first.color%>; border-bottom: none" >
                    <%= schedule[3].first.section.course.dept %> <%= schedule[3].first.section.course.number %> <br/>
                    <%= schedule[3].first.section.name %> <br/>
                    <% if schedule[3].first.section.is_a?(Section) %>
                        Sec id:<%=schedule[3].first.section.id %> <br/>

                    <% elsif schedule[3].first.section.is_a?(Tutorial) %>
                        Tut Id:<%= schedule[3].first.section.id %>  <br/>
                        Section id: <%= schedule[3].first.section.section_id %> <br/>
                    <% else %>
                        Lab Id:<%= schedule[3].first.section.id %><br/>
                        Tut Id:<%= schedule[3].first.section.tutorial.id %>  <br/>
                        Section id:<%= schedule[3].first.section.section.id %> <br/>
                    <% end %>
                    <%= schedule[3].first.section.time_start %><br/>
                    <%= schedule[3].first.section.time_end %></td>

                  <% schedule[3].shift(1) %>
              <% elsif @thursday_section_duration > 1 %>
                  <% @thursday_section_duration = @thursday_section_duration - 1 %>
              <% else %>
                  <td> </td>

              <% end %>


              <% if schedule[4].any? && schedule[4].first.section.time_start == time  %>

                  <% @friday_section_duration = schedule[4].first.row_span %>
                    <td rowspan="<%=schedule[4].first.row_span%>" style="background-color:<%=schedule[4].first.color%>; border-bottom: none" >
                      <%= schedule[4].first.section.course.dept %> <%= schedule[4].first.section.course.number %> <br/>
                      <%= schedule[4].first.section.name %> <br/>
                       <% if schedule[4].first.section.is_a?(Section) %>
                          Sec id: <%=schedule[4].first.section.id %> <br/>

                      <% elsif schedule[4].first.section.is_a?(Tutorial) %>
                          Tut Id:<%= schedule[4].first.section.id %>  <br/>
                          Section id: <%= schedule[4].first.section.section_id %> <br/>
                      <% else %>
                          Lab Id:<%= schedule[4].first.section.id %><br/>
                          Tut Id:<%= schedule[4].first.section.tutorial.id %>  <br/>
                          Section id:<%= schedule[4].first.section.section.id %> <br/>

                    <% end %>
                          <%= schedule[4].first.section.time_start %><br/>
                          <%= schedule[4].first.section.time_end %></td>

                    <% schedule[4].shift(1) %>
              <% elsif @friday_section_duration > 1 %>
                  <% @friday_section_duration = @friday_section_duration - 1 %>
              <% else %>
                  <td> </td>
              <% end %>
            </tr>
        <% end %>
      </table>
          <% end %>
      <button class="btn btn-default btn-lg"> <%= link_to('Registered Courses', {action: 'registered_courses'}) %></button>
    </div>
  </div>
</div>