<table>
  <tr>
    <th>Time</th> <th>Monday</th> <th>Tuesday</th> <th>Wednesday</th> <th>Thursday</th> <th>Friday</th>
  </tr>
  <% x = Time.local(2015,'jan',15,8,0,0) %>
  <% (0..64).each do |i|%>
  <tr>
    <th><%= "#{(x += 900).hour}:#{x.min}" %></th>
    <td><% if @mondayCourses.include?(i) %> <%= 'X' %> <% end  %> </td>
    <td><% if @tuesdayCourses.include?(i) %> <%= 'X' %> <% end  %>  </td>
    <td> <% if @wednesdayCourses.include?(i) %> <%= 'X' %> <% end  %>  </td>
    <td> <% if @thursdayCourses.include?(i) %> <%= 'X' %> <% end  %> </td>
    <td> <% if @fridayCourses.include?(i) %> <%= 'X' %> <% end  %> </td>
  </tr>
  <% end %>



</table>







<%= link_to('Registered Courses',{action: 'registered_courses'}) %>


