
<!--top div-->
<div class="topbar">
<p class="whitexpand">&nbsp; &nbsp; &nbsp;UBER</p><img class="center" src="/assets/logo.png" alt="logo"><p class="whitexpand">PLANNER</p><br><span style="font-family: Trebuchet, Helvetica, sans-serif; font-size:12px; color:#ffffff; font-weight:bold;">BY UBERTEAM</span>
<div class="login">
<br><hr><h1>LOGIN</h1><hr>


<p>
<label>NETNAME:</label><br>
  <table>
  <%= form_tag( :action => 'login') do %>

   <tr>
     <%= label_tag(:username) %>
     <%= text_field_tag(:username)  %> </br></br>
   </tr>
   <tr>
    <%= label_tag(:password)%>
    <%= password_field_tag(:password) %> </br> </br>
   </tr>
        <%= submit_tag('Login') %>

  <% end %>
  </table>
<!--<input type="text" size="24" name="netName" /><br><br>
<label>PASSWORD:</label><br>
<input type="password" size="24" name="pw" /><br><br>
<!--<input style="width:80px; height:25px; background-color:orange; border:0px;" type="submit" value="Go" name="submit" />
  #button_to( "Login", :action => "schedule", :controller => "schedule")-->
</p>

</div>
</div>
<!--bottom div : links-->
<div class="center">
<p style="color:#F36E21; font-size:13px;">
  <%= link_to 'Register' , action: 'registration' %> &nbsp; &nbsp; &nbsp; <%= link_to 'Forgot Password?' %>

</p>
</div>
