
<!--top div-->
  <div class="login">
    <br><hr><h1>Registration</h1><hr>



    <p>
    <table>
      <%= form_tag( :action => 'registration_user')  do %>
          <th></th>
          <th></th>
          <tr>
            <label style="color: ghostwhite">USERNAME</label>
            <%= text_field_tag(:username)  %> </br></br>
          </tr>
          <tr>
            <label style="color: ghostwhite">PASSWORD:</label>
            <%= password_field_tag(:password) %> </br> </br>
          </tr>
          <tr>
            <label style="color: ghostwhite">CONFIRM PASSWORD:</label>
            <%= password_field_tag(:confirm_password) %> </br> </br>
          </tr>
          <%= submit_tag('Register') %>

      <% end %>
    </table>
    <!--<input type="text" size="24" name="netName" /><br><br>
    <label>PASSWORD:</label><br>
    <input type="password" size="24" name="pw" /><br><br>
    <!--<input style="width:80px; height:25px; background-color:orange; border:0px;" type="submit" value="Go" name="submit" />
      #button_to( "Login", :action => "schedule", :controller => "schedule")-->
    </p>

  </div>
</div>
<!--bottom div : links-->
<div class="center">
  <p style="color:#F36E21; font-size:13px;">
    <%= link_to 'Login' , action: 'index' %> &nbsp; &nbsp; &nbsp; <%= link_to 'Forgot Password?' %>

  </p>
</div>
