    <!--title of the page & subtitle div-->
    <div class="titleCont">
      <br/><br/>
      <span class="whiteFONT titleFONT"></span><br/>
      <span class="whiteFONT subtitleFONT"></span>
    </div>
    </div>

<body>
    <p class="rich2">@complete_sequence TEST</p>
    <p class="rich2"> </p>
    <% @complete_sequence.each do |semester| %>
        <% semester.each do |info| %>
            <p class="rich2"> <%= info %> </p>
        <% end %>
    <% end %>
    <p class="rich2">@-----------------COMPLETED COURSES TEST---------------------</p>
    <% @completed_courses.each do |course| %>
        <p class="rich2"> <%= course.dept %> <%= course.number %> </p>
    <% end %>

    <p class="rich2">@-----------------200 LEVEL---------------------</p>
    <% @all_200_level.each do |course| %>
    <p class="rich2"> <%= course.dept %> <%= course.number %> </p>
    <% end %>






</body>
</html>
