<!DOCTYPE html>
<html>
<head>
  <title>UberScheduleApp - Edit Your Profile</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag('application') %>
</head>

<body>
    <% @complete_sequence.each do |semester| %>
        <% semester.each do |info| %>
            <p><%= info %></p>
        <% end %>
    <% end %>


</body>
</html>