    <!--title of the page & subtitle div-->
    <div class="titleCont">
      <br/><br/>
      <span class="whiteFONT titleFONT"></span><br/>
      <span class="whiteFONT subtitleFONT"></span>
    </div>
    </div>

<body>
    <p class="rich2">@complete_sequence TEST</p>
    <p class="rich2"> </p>
    <% @complete_sequence.each do |semester| %>
        <table class="rich2" style="width:30%" border="1">
          <tr>
            <th><%= semester[0] %></th>
          </tr>
        <% (1..semester.size - 3).each do |i| %>
          <tr>
            <td><%= semester[i] %></td>
          <tr>

        <% end %>
          <tr>
            <td> Accumulated credits: <%= semester.last %> </td>
          </tr>
            </table></br>
    <%= form_tag(:controller => 'schedule', :action => 'schedule', :semester => semester.first, :course_string => semester[semester.size - 2]) do %>
        <%= submit_tag("View Schedule", class: 'btn btn-default btn-lg') %>
    <% end %>
    <% end %>






</body>
</html>
