<!DOCTYPE html>
<html>
<head>
  <title>UberScheduleApp - Edit Your Profile</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag('application') %>
</head>

<body>
    <p class="rich2"> @number_of_direct_dependets type:</p>
    <p class="rich2"> <%= @number_of_direct_dependents.class %> </p>
    <p class="rich2"> @number_of_direct_dependents info</p>
    <% (1..67).each do |x|%>
        <p class="rich"> <%= Course.find(x).dept %> <%= Course.find(x).number %> <%= @number_of_direct_dependents[x] %> </p>
    <% end %>

</body>
</html>