<!DOCTYPE html>
<html>
<head>
  <title>UberScheduleApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag('application') %>

</head>
<body>
<div>
  <p style="font-family:helvetica; font-size:20px; color:#000000; letter-spacing:3px; font-weight:bold;"><%= @user_first_name %> <%= @user_last_name %>'s Profile </p>
</div>
<div class="form">
  <%= form_tag(:action => 'updateProfile') do %>



    Select the periods you DO NOT want:

    <table border="1">
      <tr>
        <th>Day</th>
        <th>AM</th>
        <th>PM</th>
      </tr>
      <tr>
        <td>Monday</td>
        <td><%= check_box_tag(:noMondayAm) %></td>
        <td><%= check_box_tag(:noMondayPm) %></td>
      </tr>
      <tr>
        <td>Tuesday</td>
        <td><%= check_box_tag(:noTuesdayAm) %></td>
        <td><%= check_box_tag(:noTuesdayPm) %></td>
      </tr>
      <tr>
        <td>Wednesday</td>
        <td><%= check_box_tag(:noWednesdayAm) %></td>
        <td><%= check_box_tag(:noWednesdayPm) %></td>
      </tr>
      <tr>
        <td>Thursday</td>
        <td><%= check_box_tag(:noThursdayAm) %></td>
        <td><%= check_box_tag(:noThursdayPm) %></td>
      </tr>
      <tr>
        <td>Friday</td>
        <td><%= check_box_tag(:noFridayAm) %></td>
        <td><%= check_box_tag(:noFridayPm) %></td>
      </tr>


    </table><br>
    Select your student status:
    <select name="status">
      <option selected>Full-Time</option>
      <option>Part-Time</option>
    </select><br>
    Allow classes at the Loyola campus? :
    <select name="noLoyolaCampus">
      <option selected>Yes</option>
      <option>No</option>
    </select><br>
    Allow split classes?:
    <select name="noSplitClasses">
      <option selected>Yes</option>
      <option>No</option>
    </select><br><br><br>
    <%= submit_tag("Edit Profile",  class: 'submitButton') %>
  <% end %> <!-- end of the form -->
</div>


<%= yield %>

</body>
</html>
