<!DOCTYPE html>
<html>
<head>
  <title>UberScheduleApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag('application') %>

</head>
<body>
<div class="topbar">
  <p class="whitexpand">&nbsp; &nbsp; &nbsp;UBER</p><img class="center" src="/assets/logo.png" alt="logo"><p class="whitexpand">PLANNER</p><br><span style="font-family: Trebuchet, Helvetica, sans-serif; font-size:12px; color:#ffffff; font-weight:bold;">BY UBERTEAM</span>

<%= yield %>
</div>
</body>
</html>
