<!DOCTYPE html>
<html>
<head>
  <title>UberScheduleApp</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag('application') %>
  <%= javascript_include_tag :defaults %>

</head>
<body>
<div class="topPara extend">
  <!--logo div-->
  <div>
    <span class="whitexpand">&nbsp; &nbsp; &nbsp;UBER</span><%= image_tag("logo.png") %><span class="whitexpand">PLANNER</span>
  </div>
  <!-- Links div-->
  <div class="whiteBCKG extend">
    <hr class="blackline extend">
<span class="menuFONT">
&nbsp;<%= link_to 'View Sequence', sequence_path, class:"menuLK" %>&nbsp;&nbsp;&#183;
  &nbsp;<%= link_to('Edit Profile', {:controller => 'profile', :action => 'profile'}, class:"menuLK") %>&nbsp;&nbsp;&#183;
  &nbsp;<%= link_to('View Schedule', {:controller => 'schedule', :action => 'schedule'}, class:"menuLK") %>&nbsp;&nbsp;&#183;
 &nbsp; <%= link_to('Courses', {:controller => 'course', :action => 'index'}, class:"menuLK") %>&nbsp;&nbsp;&#183;
  &nbsp;<%= link_to('Generate Schedule', {:controller => 'schedule_generator', :action => 'schedule_generator'}, class:"menuLK") %>&nbsp;&nbsp;&#183;
  <% if user_signed_in? %>
             &nbsp; <%= link_to('Logout', destroy_user_session_path, method: 'delete',class:"menuLG") %>
          <% end %>
</span>
    <hr class="blackline extend">
  </div>
  <!--title of the page & subtitle div-->
  <div class="titleCont">
    <br/><br/>
    <span class="whiteFONT titleFONT">Title of page</span><br/>
    <span class="whiteFONT subtitleFONT">Sub-Title if any</span>
  </div>
</div>

<!--main outer container div-->
<div class="whiteBCKG extend">
  <!-- inside container div-->
  <div class="mainContent">

    <!-- Response/result/confirmation div-->
    <% unless flash[:notice].nil?%>
    <div class="responseBox">
      <%= flash[:notice] %>
    </div>
        <% end %>

    <%= yield %>
  </div>
</div>

<!-- footer-->
<div class="footerPara">
  Copyright (C) 2015 UBERTEAM
</div>
</body>
</html>
